<!-- 页头 page header -->
<header id="header">
  <!-- 左侧图标 left logo -->
  <a class="header-sign" href="/">
    <img src="/favicon.png" alt="logo" />
    <span>YOG<br />WANG</span>
  </a>
  <!-- 头部菜单 header menu -->
  <nav class="header-navbar">
    <% for (var i in theme.menu){ %>
    <a class="nav-link" href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
    <% } %>
  </nav>
</header>
