/*
 * @Description: 通用部分
 * @Author: yogwang
 * @Date: 2019-07-09 16:42:14
 * @Last Modified by: yogwang
 * @Last Modified time: 2021-05-31 15:59:00
 */
@import 'reset.css'; // 默认样式重置
@import 'font_SF.css'; // 引入logo字体
/*
 * 全局
 */
html, body {
  min-height: 100vh;
  font-size: 13px;
  color: #404040;
  padding: 0;
  margin: 0;
  position: relative;
}
*::selection {
  color: white;
  background-color: #40bdd0;
}
blockquote {
  font-family: inherit;
}
@import './block/header.styl'; // 页头
@import './block/main.styl'; // 主体
@import './block/pagination.styl'; // 分页
@import './block/sidebar.styl'; // 侧边栏
@import './block/footer.styl'; // 页尾 

/*
 * 滚动条
 */
html {
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track-piece {
    border: none;
    background-color: #f1f1f1;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #4a4e50;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #313131;
  }
  &::-moz-selection {
    background: #313131;
    color: #f1f1f1;
    text-shadow: none;
  }
  &::selection {
    background: #348fff;
    color: #f1f1f1;
    text-shadow: none;
  }
}