<% if (site.categories.length){ %>
<!-- 文章分类 category -->
  <div class="widget-wrap shadow">
  <h3 class="widget-title"><%= __('categories') %></h3>
  <div class="widget">
    <%- list_categories({
      show_count: theme.show_count, 
      orderby:'name'
    }) %>
  </div>
</div>
<% } %>
