<!-- 关于我 about me -->
<div id="about">
  <div class="about-header">
    <h1><%= theme.about.title %></h1>
    <h3><%= theme.about.subtitle %></h3>
    <h2><%= theme.author.nickname %></h2>
  </div>
  <%- partial('_partial/soliloquy', {post: page, index: false}) %>
</div>