<!-- layout page -->
<!DOCTYPE html>
<html lang="zh">
  <%- partial('_partial/meta') %>
  <body>
    <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
    <div id="wrap">
      <%- body %>
    </div>
    <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
  </body>
</html>
