/*
  * @Description: 关于我样式
  * @Author: yogwang
  * @Date: 2021-06-02 17:32:35
  * @Last Modified by:   yogwang
  * @Last Modified time: 2021-06-02 17:32:35
 */
 
// 关于我
#about {
  width: 100%;
  padding: 5vh 0;
  .about-header {
    h1, h3 {
      font-size: 25px;
      font-weight: normal;
    }
    h2 {
      font-size: 35px;
      font-weight: normal;
      margin: 15px 0;
    }
    h3 {
      color: #999;
      margin: 0 0 15px;
    }
  }
  .article-content {
    line-height: 35px;
    font-size: 18px;
    code {
      color: #d14;
      font-family: 'Micorsofe Yahei';
    }
    sub {
      color: #666;
    }
    a {
      color: inherit;
      background: linear-gradient(to bottom, transparent 70%, rgba(49, 184, 204, .5) 70%);
    }
  }
}
